<div class="col-md-12">
    <h1>{{name}}</h1>
    <h2 style="opacity:0" id="orgAddr">{{address}}</h2>
    <div class="box">
        <div class="box-body">
            <div class="nav-tabs-custom">
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <div class="btn-group">
                        <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-wrench"></i></button>
                    </div>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Dashboard" data-toggle="tab" aria-expanded="true">Dashboard</a></li>
                    <li class=""><a href="#Proposition" data-toggle="tab" aria-expanded="false">Proposition</a></li>
                    <li class=""><a href="#FundRaising" data-toggle="tab" aria-expanded="false">Collecte de fonds</a></li>
                </ul>
                <div class="tab-content">
                    <div class="box-header with-border">

                    </div><!-- /.box-header -->
                    <!--<img src="/images/defaultOrga.jpg" class="img-circle" style="margin-top: 2%; margin-left: 44%; height: 140px" alt="User Image">-->
                    <!--<hr>-->
                    <div class="tab-pane active" id="Dashboard">
                        <div id="projectDesc">
                            <h2 class="box-title">Project Description</h2>
                            <div>
                                {{#if project.description}}
                                    <div class="text-justify">
                                        {{project.description}}
                                    </div>
                                {{else}}
                                    <div class="text-center">
                                        There is no description available for this project.
                                    </div>
                                {{/if}}
                            </div>
                        </div>

                        <h3 class="profile-username text-center">{{name}}</h3>

                        <p class="text-muted text-center">{{_id}}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Created</b> <a class="pull-right">{{created.at}}</a>
                            </li>
                            <li class="list-group-item">
                                {{#if ether}}
                                    <b>Current balance</b> <a class="pull-right">{{ether}} ether</a>
                                {{else}}
                                    <b>Current balance</b> <a class="pull-right">0 ether</a>
                                {{/if}}
                            </li>
                            <li class="list-group-item togglable">
                                {{#if project.memberList}}
                                    <b>Contributeur</b> <a class="pull-right">{{project.memberList.length}} <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                                {{else}}
                                    <b>Contributeur</b> <a class="pull-right">0 <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                                {{/if}}
                                <div hidden>
                                    {{#each project.memberList}}
                                        <span><a href="/user/{{this}}">{{this}}</a></span>
                                        <hr/>
                                    {{/each}}
                                </div>
                            </li>
                        </ul>

                        <button type="button" class="follow btn btn-primary btn-block" data-toggle="modal" data-target="#myModalMakeDonation">Suivre le projet</button>
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModalDelete">Mettre fin au projet</button>
                        <button type="button" class="btn btn-primary btn-lg" style="float:right; margin-left: 5px;" data-toggle="modal" data-target="#myModalCreateProject">Soumettre une proposition</button>
                        <button type="button" class="btn btn-primary btn-lg" style="float:right;" data-toggle="modal" data-target="#myModalCreateProject">Faire un don</button>

                        <!-- Modal -->
                        <div id="myModalCreate" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <link rel='stylesheet' href='/stylesheets/register.css' />

                                <div class="container auth">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="text-center">Faire un don</h1>
                                        </div>
                                        <div class="modal-body">
                                            <div id="big-form" class="well auth-box">
                                                <div class="form-group">
                                                    <label class=" control-label" for="textinput">Name</label>
                                                    <div class="">
                                                        <input id="name" name="name" placeholder="Amount" class="form-control input-md" type="text">
                                                    </div>
                                                </div>
                                                <input type="submit"  id='submit_form' class='btn btn-info' value="Faire un don !" data-dismiss="modal"/>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="myModalCreateProject" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <link rel='stylesheet' href='/stylesheets/register.css' />

                                <div class="container auth">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="text-center">Create a Project</h1>
                                        </div>
                                        <div class="modal-body">
                                            <div id="big-form" class="well auth-box">
                                                <div class="form-group">
                                                    <label class=" control-label" for="textinput">Name</label>
                                                    <div class="">
                                                        <input id="projectName" name="name" placeholder="Name" class="form-control input-md" type="text">
                                                    </div>
                                                    <br/>
                                                    <div class="">
                                                        <input id="projectDesc" name="Desc" placeholder="Description" class="form-control input-md" type="text">
                                                    </div>
                                                </div>

                                                <input type="submit"  id='createProject' class='btn btn-info' value="Create a new project !" data-dismiss="modal"/>

                                            </div>
                                            <div class="clearfix"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="myModalDelete" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1>Êtes-vous sûr de vouloir supprimer l'organisation </h1></div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" onclick="destroyOrga()">Supprimer</button>
                                        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="Proposition">
                        <h3> Proposition en cours d'évaluation :</h3>
                        {{#each project.fundRaising}}
                            <span><a href="/project/{{this}}">{{this}}</a></span>
                            <hr/>
                        {{/each}}</div>
                    <div class="tab-pane" id="FundRaising">
                        <h3> Proposition en cours de financement :</h3>
                        {{#each project.fundRaising}}
                            <span><a href="/project/{{this}}">{{this}}</a></span>
                            <hr/>
                        {{/each}}
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>

</div>