<div class="col-md-12">
    <h1>Utilisateur</h1>
    <div class="box">
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Profil" data-toggle="tab" aria-expanded="true">Profil</a></li>
                    <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div class="box-header with-border">

                    </div><!-- /.box-header -->
                    {{#if profilePic}}
                            <img src="/images/{{profilePic}}" class="img-circle" style="margin-top: 2%; margin-left: 44%; height: 140px" alt="User Image">
                    {{else}}
                            <img src="/images/guest.jpg" class="img-circle" style="margin-top: 2%; margin-left: 44%; height: 140px" alt="User Image">
                    {{/if}}
                    <hr>
                    <div class="tab-pane active" id="Profil">
                        <h3 class="box-title">Informations générales</h3>
                        <div class="box-body">
                            <label class='labelInfo' style="display: inline-flex;margin: 15px;  margin-right: 105px;font-size: 22px; margin-left: 25%;">Nom :</label>
                            <div class='info' id='lastname' style="display: inline-flex; font-size: 25px; float: right; margin-right: 40%; margin-top: 14px;  ">{{lastname}}</div>
                            <div></div>
                            <label class='labelInfo' style="display: inline-flex;margin: 15px;  margin-right: 50px;font-size: 22px; margin-left: 25%;">Prénom :</label>
                            <div class='info' id='firstname' style="display: inline-flex; font-size: 25px;  float: right; margin-right: 40%; margin-top: 14px; ">{{firstname}}</div>
                            <div></div>
                            <label class='labelInfo' style="display: inline-flex; margin: 15px;  margin-right: 95px;  font-size: 22px;  margin-left: 25%;">Adresse :</label>
                            <div class='info' id='addresses' style="display: inline-flex; font-size: 25px; float: right; margin-right: 40%; margin-top: 14px;">{{addresses}}</div>
                            <div></div>
                        </div>

                    </div>

                    <div id="accountList">

                        <h2 class="sub-header">Account List</h2>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Met</th>
                                    <th>Les Valeurs</th>
                                    <th>Qui te</th>
                                    <th>Chantent</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--FOR EACH-->
                                <tr>
                                    <td>12</td>
                                    <td>1459</td>
                                    <td>565</td>
                                    <td>5456</td>
                                    <td>5445</td>
                                </tr>
                                <!--END FOR EACH-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="settings">
                            <button type="button" id="createNewAccount" class="btn btn-primary">Create new account</button>
                            <button type="button" id="importAccount" class="btn btn-primary">Import existing account</button>
                            <button type="button" id="deleteAccount" class="btn btn-danger">
                                <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>

                                Delete your account
                            </button>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>

</div>
<script src="/eth/user.js"></script>