<div class="col-md-12">
    <h1>Utilisateur</h1>
    <div class="box">
        <div class="box-body">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#Profil" data-toggle="tab" aria-expanded="true">Profil</a></li>
                </ul>
                <div class="tab-content">
                    <div class="box-header with-border">

                    </div><!-- /.box-header -->
                    {{#if profilePic}}
                            <img src="/images/{{profilePic}}" class="img-circle" style="margin-top: 2%; margin-left: 44%; height: 140px" alt="User Image">
                    {{else}}
                            <img src="/images/guest.jpg" class="img-circle" style="margin-top: 2%; margin-left: 44%; height: 140px" alt="User Image">
                    {{/if}}
                    <hr>
                    <div class="tab-pane active" id="Profil">
                        <h3 class="box-title">Informations générales</h3>
                        <div class="box-body">
                            <div>
                                <label class='labelInfo' style="display: inline-flex; margin: 15px;  margin-right: 95px;  font-size: 22px;  margin-left: 25%;">Prenom :</label>
                                <div class='info' style="display: inline-flex; font-size: 18px;">{{firstname}}</div>
                            </div>
                            <div>
                                <label class='labelInfo' style="display: inline-flex; margin: 15px;  margin-right: 95px;  font-size: 22px;  margin-left: 25%;">Nom :</label>
                                <div class='info' style="display: inline-flex; font-size: 18px;">{{lastname}}</div>
                            </div>
                            <div>
                                <label class='labelInfo' style="display: inline-flex; margin: 15px;  margin-right: 95px;  font-size: 22px;  margin-left: 25%;">Adresse :</label>
                                <div class='info' style="display: inline-flex; font-size: 18px;">{{addresses}}</div>
                            </div>
                            <label class='labelInfo' style="display: inline-flex; margin: 15px;  margin-right: 95px;  font-size: 22px;  margin-left: 25%;">Balance :</label>
                            <div class='info' id='balance' style="display: inline-flex; font-size: 25px; float: right; margin-right: 40%; margin-top: 14px;"></div>
                        </div>
                        <li class="list-group-item togglable">
                            {{#if listOrga}}
                                <b>Organisations</b> <a class="pull-right">{{listOrga.length}} <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                            {{else}}
                                <b>Organisations</b> <a class="pull-right">0 <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                            {{/if}}
                            <div class="dropdown" hidden>
                                {{#each listOrga}}
                                    <span><a href="/organisation/{{this}}">{{this}}</a></span>
                                    <hr/>
                                {{/each}}
                            </div>
                        </li>
                        <li class="list-group-item togglable">
                            <div>
                                {{#if listProj}}
                                    <b>Projets</b> <a class="pull-right">{{listProj.length}} <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                                {{else}}
                                    <b>Projets</b> <a class="pull-right">0 <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                                {{/if}}
                            </div>
                            <div class="dropdown" hidden>
                                {{#each listProj}}
                                    <span><a href="/project/{{this}}">{{this}}</a></span>
                                    <hr/>
                                {{/each}}
                            </div>
                        </li>
                    </div>
                    <!-- /.tab-pane -->
                    <li class="list-group-item togglable">
                        {{#if listOrga}}
                            <b>Organisations</b> <a class="pull-right">{{listOrga.length}} <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                        {{else}}
                            <b>Organisations</b> <a class="pull-right">0 <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                        {{/if}}
                        <div class="dropdown" hidden>
                            {{#each listOrga}}
                                <span><a href="/user/{{this}}">{{this}}</a></span>
                                <hr/>
                            {{/each}}
                        </div>
                    </li>
                    <li class="list-group-item togglable">
                        <div>
                            {{#if listProj}}
                                <b>Projets</b> <a class="pull-right">{{listProj.length}} <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                            {{else}}
                                <b>Projets</b> <a class="pull-right">0 <i class="fa fa-angle-left pull-right dropdownArrow "></i></a>
                            {{/if}}
                        </div>
                        <div class="dropdown" hidden>
                            {{#each listProj}}
                                <span><a href="/user/{{this}}">{{this}}</a></span>
                                <hr/>
                            {{/each}}
                        </div>
                    </li>
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>

</div>
<script src="/eth/user.js"></script>
